@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Test/Authenticate">
            Client id: <input type="text" name="clientId" /> <br /><br />
            Client secret: <input type="text" name="clientSecret" /> <br /><br />
            <input type="submit" />
        </form>

        <hr />

        @Session["TokenJson"]
    </div>
</body>
</html>
