@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowTasks</title>
</head>
<body>
    <div>
        @ViewBag.ClientResponse.Content 
        <hr />
        @ViewBag.ClientResponse.ErrorMessage
        
    </div>
</body>
</html>
